@font-face {
    font-family: BebasNeue;
    src: url(fonts/BebasNeue-Regular.otf);
}

:root {
    --top-bar-size: 50px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    font-family: BebasNeue;
    letter-spacing: 2px;
}

#top-bar {
    height: var(--top-bar-size);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#location-input {
    padding-inline: 10px;
    width: 200px;
    background-color: rgba(0, 0, 0, .2);
}

#search-button {
    width: 28px;
}

#search-button>i {
    color: black;
}

#search-button:hover {
    cursor: pointer;
    background-color: #d1d1d1;
}

.bar-item {
    height: 28px;
    height: 28px;
    border-radius: 100vw;
    border: none;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--top-bar-size));
}

#city-name {
    font-size: 80px;
    margin-bottom: -20px;
}

#country-name {
    font-size: 42px;
    margin-bottom: -5px;
}

#main-temp {
    font-size: 66px;
}

#weather {
    font-size: 20px;
    margin-bottom: 5px;
}

.farenheit::after {
    content: '\00B0 F';
}

.celsius::after {
    content: '\00B0 C';
}

#main-temp::after {
    font-size: 28px;
    vertical-align: top;
}

#weather-info {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.info-item {
    font-size: 16px;
}

.uppercase {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

.day-clear {
    background: linear-gradient(#594bdb, #53b3fc);
}

.night-clear {
    background: linear-gradient(#121e8a, #341369);
}